# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: c52294c8a4e83988aa07077dca2a1f049c93e39806908dbafbf6d83dfbc5127fc88a4a4159b340b70f31dc2fbdc3838fd41d0abed0996bedd03ff0c537db2ac0

test:
  secret_key_base: f7392dd009142f47ac850a9a514e4eb6f1dc5592d3b471b838e08142dae0d55ec6149f7403bc56574e94266ee087a15bd8aa604648fad2d6b785d9efd388c3c4

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
